@import url("../../assets/colors/colors.css");
@import url("../../assets/fonts/fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@keyframes descendo {
  0% {
    transform: translateY(-100px);
    opacity: 0.5;
  }

  50% {
    transform: translateY(15px);

  }
}

body {
  font-family: 'Roboto', sans-serif;
  border: none;
}

.container-home {
 
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #007EAB, #210b2c);
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.title-home {
  font-size: xx-large;
  font-weight: 800;
}

.no-decoration {
  text-decoration: none;
  color: #cad9ef;
}

.tipo-de-denuncia {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 80%;
  background-color: transparent;
  animation: descendo 2s ease;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 3%;
}

.botão-opções {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: #cad9ef;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  background-color: #210b2c;
}

.agrupar-botoes{
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 75%;
  justify-content: space-around;
}

.agrupar-botoes-home{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  height: 50%;

}




.botão-opções:hover {
  box-shadow: 0 0 60px #79389a, 0 0 25px #210b2c;
  transform: translateY(0);
  transition: 300ms ease;

}

.seguradora-denuncia {
  
  height: 90%;
  width: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 5px;
  border-style: none;
  font-weight: bold;
  color: #cad9ef;
  position: relative;
  box-shadow: 0 0 60px #ffffff;

}

.imagem-lado {

  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);

  display: none;
}

.botão-opções:hover .imagem-lado {
  display: inline-block;
  height: 70%;
  transition: 300ms ease;

}






.brightness {
  filter: brightness(15%);
}

/* .image-placa:hover {
  filter: brightness(15%);
} */


.icon {
  max-width: 100%;
  height: auto;
}



@media screen and (max-width: 600px) {
  
  .tipo-de-denuncia{
    width: 95%;
  }

  .botão-opções{
    height: 15%;
    width: 70%;
  }
  
.botão-opções:hover {
  width: 70%;
 
}

  .botão-opções p{
    font-size: 1.3rem;
  }

  .text-responsive {
    font-size:1.5rem;
    text-decoration: none;
    margin: none;

  }
}