@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-perfil {
  height: 100%;
  width: 100%;;
  background-image: linear-gradient(to bottom, #007eab, #007eab, #210b2c );
  color: aliceblue;
}

.container-filho-perfil{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


}

.perfil-e-desc{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  height: 75%;
  text-align: center;
  border-radius: 5px;
  background-color: #210b2c79;

}

.perfil-e-desc img{
  border-radius: 50%;
  border: solid #210b2c79;
}



.txt-sent{
  font-size: x-large;
  padding-top: 10px;
}

.container-emotion {
  height: 25px;
  background-color: #CCC;
  position: relative;
}
.container-emotion .conteudo-emotion{
 position: absolute;
 height: 100%;
 background-color: #0fd439;
 animation: progress-animation 5s forwards;
}
@keyframes progress-animation{
  0% { width: 0%;
  background-color: red;
  } 
  100% { width: 100%;
  }
}