@import url("../../assets/colors/colors.css");
@import url("../../assets/fonts/fonts.css");

@keyframes pula {
  0% {

    transform: translateY(0px);
  }

  50% {

    transform: translateY(10px);

  }

  100% {

    transform: translateY(0px);
  }
}

.icon-site {
  width: 130px;
  border-radius: 50%;
  padding-top: 10px;

}


.container-login {
  height: 95vh;
background-color: #007EAB;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.container-login form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* mexer aq reponsividade */
.container-inputs {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  background-image: linear-gradient(to top, #007EAB, #210b2c);

  box-shadow: 0 0 60px #100316, 0 0 25px #0d0113;
  border-radius: 20px;
}

.buttons-login {
  margin: 5px 0;
  width: 100%;
  height: 100%;
}

.buttons-login input {
  font-size: 1.5rem;
  width: 100%;
  border-color: #007EAB;
}


.buttons-login label {
  
  font-family: 'Roboto', sans-serif;
  color: gray;
}


.alinhar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: column;
}



.button-group-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;


}

.button-group-login button {
  padding: 1%;

}

.input-logar{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}


.botão-cadastro {

  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-weight: 800;

  text-align: center;
  width: 50%;
  background: #210b2c;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 1.5rem;
  padding: 2%;
  text-decoration: none;
}

.texto-abaixo {
  text-decoration: none;
  color: #0aa7e0;
}

.abaixo-input {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  text-align: center;
  font: 800;

  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

.button-group button:hover,
.botão-cadastro:hover {
  box-shadow: 0 0 60px #79389a, 0 0 25px #210b2c;
  transform: translateY(0);
  transition: 300ms ease;

}

.pato {
  width: 130px;
  height: 130px;
}

.circle-container-login {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  bottom: 10px;
  right: 50px;
  width: 20%;
  height: 15%;
  justify-content: space-evenly;
}

.circle-login {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  width: 25%;
  height: 65%;

  font-size: xxx-large;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #c80d0d;
  animation: pula 2s ease infinite;
}

.botões-de-ação {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
  padding-top: 5px;
}



.modal-body {
  background-image: linear-gradient(to top, #007EAB, #210b2c);
  color: black;

}

.inputs-modal {
  background-color: transparent;
}

.mb-3 {
  color: gray;
}

.modal-header {
  background-color: #210b2c;
  border: none;
  color: #ffffff;
}

.modal-footer {
  background-color: #210b2c;
  border: none;
  color: #ffffff;
}

.link-color{
  color: #ffffff;
}






@media only screen and (max-width: 500px) {
  .container-login{
    background-image: linear-gradient(to top, #007EAB, #210b2c);
  }
  .buttons-login input {
    width: 100%;
  }
  .input-logar{
    width: 80%;
  }

  .botões-de-ação{
    width: 80%;
  }
  .container-inputs{
    width: 100%;
    box-shadow: none;
    background-image:none;

  }
}