@import url("../../assets/colors/colors.css");
@import url("../../assets/fonts/fonts.css");

@keyframes pula {
  0% {

    transform: translateY(0px);
  }
  50% {

    ransform: translateY(10px);
    
  }
  100% {

    transform: translateY(0px);
  }
}

.icon-site{
  width: 130px;
  border-radius: 50%;
}

.container-login {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #007EAB, #210b2c);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1%;
  flex-direction: column;
}
.container-login form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-inputs{
  display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}
.buttons-login {
  margin: 10px 0;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons-login input {
  border: none;
  width: 70%;
  padding: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: transparent;
  border-bottom: solid #ffffff ;
 
}
.input-logar::placeholder {
  color: #ffffff70;
}

.buttons-login label {
  text-align: left;
  width: 70%;
  font-weight: 700;
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;

  line-height: 36px;
  font-size: 1.5rem;
}

.buttons-login p {
  text-align: left;
  width: 68%;
  color: #ffffff;
  margin: 1%;
}


.buttons-login p > a {
  text-align: left;
  color: var(--color-link);
  width: 68%;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.alinhar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.buttons-login input{
  font-size: 1.5rem;
}

.button-group-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
 
}

.button-group-login button{
  padding: 1%;
 
}




.botão-cadastro {
  
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-weight: 800;
  box-shadow: 0 12px 12px black;
  line-height: 32px;
  text-align: center;
  width: 30%;
  background: #210b2c;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}
.texto-abaixo{
  text-decoration: none;
  color: #0aa7e0;
}

.button-group button {
  
  
  font-size: larger;
  box-shadow: 0 12px 12px black;
  line-height: 32px;
  
  width: 15%;
  min-width: 90px;
  min-height: 32px;
  background: #210b2c;
  color: white;
  border-radius: 50px;
  border: none;
  transform: translateY(0);

}

.abaixo-input{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  text-align: center;
  font: 800;
  
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

.button-group button:hover,
.botão-cadastro:hover{
  transform: translateY(10px);
  transition: 300ms ease-in-out;

  box-shadow: 0 8px 12px black;}

.pato {
  width: 130px;
  height: 130px;
}

.circle-container-login {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.circle-login {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  width: 5%;
  height: 10%;
  position: absolute;
  font-size: xxx-large;
  bottom: 50px;
  right: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  
  background-color: #dd0000;
  animation: pula 2s ease infinite;
}

.botões-de-ação{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .buttons-login input {
    width: 100%;
  }
}
