.container-esqueci-senha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(to bottom, #007EAB, #210b2c);  
    color: white;
}

.filho-es{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    flex-direction: column;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    background-image: linear-gradient(to top, #007EAB, #210b2c);
    box-shadow: 0 12px 12px black;

}

.campos{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
    width: 100%;
    color: white;

}

.buttons-eq{
    width: 90%;
}

.campos button{
    cursor: pointer;

    border-radius: 50px ;
    border:none;
    background-color: #210b2c;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}


/* display: flex;
  background-color: #210b2c;
  
  border-radius: 50px;
  width: 100%;
  height: 100%;
  border: none;
  justify-content: center;
  
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;*/
.botão-cadastro{
    width: 50%;
}

.campos input{
    width: 100%;
    border: none;
    border-bottom: solid 2px white;
    font-size: 1.5rem;
    padding: 10px;
}

